172.25.200.28
    <html>
        <head> <title> Lab1 </title>
        </head>

        <body bgcolor="666666"  align="center">
            <table  align="center" width="700" height="600" bgcolor="CCCCCC">
                <tr align="center ">
                    <td>
                        <table   align="center" width="30%" height="40%">
                            <h3> ประวัติส่วนตัว </h3>
                            <tr align="center">
                                <td height="100%">  <img src="/assets/images/1.jpg" width="300" height="200" >  </td>
                            </tr>
                        </table>
                        <br>
                        <b>ชื่อ-นามสกุล :</b>  นายชนะศึก ศิริสถิตย์  <br><br>
                        <b>รหัสประจำตัวนักศึกษา :</b> 60342360112-6
                        <b>ห้องเรียน :</b> BIS4Q <br><br>
                        <b> คณะ :</b> บริหารธุรกิจและเทคโนโลยีสารสนเทศทางคอมพิวเตอร์  <br><br>
                        <b>สาขาวิชา :</b> เทคโนโลยีสารสนเทศทางคอมพิวเตอร์




                        <br>







          </td>
                </tr>
            </table>
        </body>


    </html>